body {
	font-family: Helvetica;
}
button.big {
	font-size: 2em;
	padding: 1em;
	margin-top: .5em;
}
input[type=range] {
	/*width: 2em;*/
}
input.num {
	width: 4em;
}
input[type=checkbox] {
	transform: scale(2);
	margin: 1em;
}

#sinkdrummers {
	display: inline-block;
}
div.sinkdrummer, button#add-sinkdrummer {
	display: inline-block;
	float: left;
	background: #f0edca;
	padding: 1em;
	margin: 1em 0 0 1em;
	border: 0;
	font-size: 16px;
}
button#add-sinkdrummer {
	/* width and height get reset by js at runtime */
	width: 303px;
	height: 270px;
	font-weight: bold;
	outline: none;
}
